# --------------------------
# Node / NPM
# --------------------------
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# --------------------------
# Build / Output
# --------------------------
dist/
build/
.cache/
*.log

# --------------------------
# TypeScript
# --------------------------
*.tsbuildinfo

# --------------------------
# Editor / IDE
# --------------------------
.vscode/
.idea/
*.swp

# --------------------------
# OS Specific
# --------------------------
.DS_Store
Thumbs.db

# --------------------------
# Coverage / Testing
# --------------------------
coverage/

**/tsconfig.json
**/webpack.config.js
